# Secrets and environments
.env
.env.*
appsettings.*
!appsettings.Example.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bin/
obj/

Logs/

# Visual Studio / VS Code local configurations
.vs/
.vscode/
*.user
*.suo
